body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-family: "Readex Pro", sans-serif;
  color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  font-size: 0;
}

input,
button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

p {
  margin: 0;
  padding: 0;
}

/* ========================= */
